@model GestorForemost.Models.TbFactura

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TbFactura</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFactura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaFactura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoFactura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoFactura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MontoFactura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MontoFactura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoFactura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoFactura)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdFactura">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
