@model GestorForemost.Models.TbColaborador

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TbColaborador</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreColaborador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreColaborador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido1Colaborador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apellido1Colaborador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido2Colaborador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apellido2Colaborador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefonoColaborador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefonoColaborador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CorreoColaborador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CorreoColaborador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaIngresoColab)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaIngresoColab)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaisColaborador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaisColaborador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoColaborador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoColaborador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PuestoColaboradorNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PuestoColaboradorNavigation.IdPuesto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdentificacionColaborador">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
