@model GestorForemost.Models.TbGestionSaldo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TbGestionSaldo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaAsignSaldo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaAsignSaldo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoSaldo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoSaldo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdFacturaSaldoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdFacturaSaldoNavigation.IdFactura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdGestorSaldoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdGestorSaldoNavigation.IdentificacionColaborador)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdSaldo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
